.App {
  text-align: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 45px;
  
}

.home-container:hover {
  box-shadow: 0px 2px 20px 5px rgb(250, 208, 188);
}



.center {
  text-align: center;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.6rem;
  color: rgb(255, 255, 255);
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  padding: 10px;
  animation: spacing 3s 1;
}

@keyframes spacing {
  50% {
    letter-spacing: 1rem;
  }
}

.post-title {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  padding: 15px;
  color: rgb(255, 255, 255);
  opacity: 0.9;
}

.post-title:hover {
  opacity: 1;
}

img {
  width: 600px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 2px 15px 5px rgb(128, 129, 130);
  background-color:rgb(255, 255, 255);
  
}


.list-item {
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.post-content {
  margin: 5px 50px;
  width: 700px;
}

.post-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(249, 220, 207, 0.8);
  margin: 45px;
}

.add-comment {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin: 25px;
  padding:10px;
}

.add-comment:hover {
  background-color: rgb(181, 121, 227);
}

.comment-item {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 20px;
  margin: 15px;
  border: 3px solid rgba(200, 160, 230, 1);
  width: 200px;
}

.comment-form {
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  padding: 15px;
  color: rgb(255, 255, 255);
  margin: 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  
}



.comment-container {
  
  text-align: center;

}

 .submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
/* .side-nav {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 30px;
  text-decoration-line: none;
  font-size: 1.5rem;
}
.nav-links {
  list-style: none;
  position: relative;
  text-decoration: none;
}
.nav-links li {
  padding: 10px 0;
} */
header {
  padding: 10px 0 10px 0;
  text-align: right;
  background: white;
}

nav a {
  text-decoration-line: none;
  padding: 0 5px 0 5px;
}
.input {
 padding: 10px;
  margin: 20px;
  width: 200px;
  border: 3px solid rgba(200, 160, 230, 1);
  font-size: 20px;
}

.add-comment {
  border: none;
  text-decoration: none;
  background-color: rgba(200, 160, 230, 1);
  color: rgb(255, 255, 255);
}

.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.s-container {
  text-align:center;
}

.new-post {
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  padding: 15px;
  color: rgb(255, 255, 255);
  margin: 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.in-cont {
  height: 170px;
}

.s-btn {
  background-color: rgba(200, 160, 230, 1);
  color: rgb(255, 255, 255);
  width: 150px;
  padding: 10px;
  font-size: 20px;
  margin: 15px;
  border: none;
}

.s-btn:hover {
  background-color: rgb(181, 121, 227);
}

.comm {
  padding: 10px;
  font-size: 20px;
  margin: 10px;
}

.comm1 {
  padding: 10px;
  font-size: 20px;
  height: 100px;
  margin: 10px;
}

.update-container {
  text-align: center;
}

.update-from {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}