.App {
  text-align: center;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 45px;
  
}

.home-container:hover {
  box-shadow: 0px 2px 20px 5px rgb(250, 208, 188);
}
.center {
  text-align: center;
}

h1 {
  font-size: 4rem;
  letter-spacing: 0.6rem;
  color: rgb(255, 255, 255);
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  padding: 10px;
  animation: spacing 3s 1;
}

@keyframes spacing {
  50% {
    letter-spacing: 1rem;
  }
}

.post-title {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  padding: 15px;
  color: rgb(255, 255, 255);
  
}



img {
  width: 600px;
  padding: 20px;
  margin: 10px;
  box-shadow: 0px 2px 15px 5px rgb(128, 129, 130);
  background-color:rgb(255, 255, 255);
  
}

.list-item {
  text-align: center;
  padding: 10px;
  margin: 20px;
}

.post-content {
  margin: 5px 50px;
  width: 700px;
}

.post-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(249, 220, 207, 0.8);
  margin: 45px;
}

.add-comment {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bolder;
  margin: 25px;
  padding:10px;
}

.add-comment:hover {
  background-color: rgb(181, 121, 227);
}

.comment-item {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  padding: 20px;
  margin: 15px;
  border: 3px solid rgba(200, 160, 230, 1);
  width: 200px;
}

.comment-form {
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  padding: 15px;
  color: rgb(255, 255, 255);
  margin: 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
  width: 900px;
  animation: space 2s 1;
}

@keyframes space {
  50% {
    letter-spacing: 0.2rem;
  }
}

.comment-container {
  
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

 .submit-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  background-repeat:no-repeat;
  margin: 50px;
  height: 700px;
  width: 900px;
  
}

.input {
 padding: 10px;
  margin: 20px;
  width: 200px;
  border: 3px solid rgba(200, 160, 230, 1);
  font-size: 20px;
}

.add-comment {
  border: none;
  text-decoration: none;
  background-color: rgba(200, 160, 230, 1);
  color: rgb(255, 255, 255);
}

.submit-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.s-container {
  text-align:center;
}

.new-post {
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  padding: 15px;
  color: rgb(255, 255, 255);
  margin: 10px;
  font-size: 30px;
  font-family: 'Roboto', sans-serif;
}

.in-cont {
  height: 170px;
}

.s-btn {
  background-color: rgba(200, 160, 230, 1);
  color: rgb(255, 255, 255);
  width: 150px;
  padding: 10px;
  font-size: 20px;
  margin: 15px;
  border: none;
}

.s-btn:hover {
  background-color: rgb(181, 121, 227);
}

.comm {
  padding: 10px;
  font-size: 20px;
  margin: 10px;
  width: 300px;
}

.comm1 {
  padding: 10px;
  font-size: 20px;
  height: 150px;
  width: 300px;
  margin: 25 5px;
}

.update-container {
  text-align: center;
}

.update-from {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.img {
  display: grid;
  place-items: center;
}
.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col {
  background-image: url('https://images.unsplash.com/photo-1562651806-73c8da191923?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
  background-repeat: no-repeat;
  height: 900px;
  width: 900px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}

.reg-title {
  font-size: 3rem;
  
}

label {
  color: rgb(255, 255, 255);
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.input1 {
  padding: 8px;
  margin: 10px;
  width: 400px;
  font-size: 18px;
  border: 2px solid rgb(68, 42, 77);
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(68, 42, 77);
}

.s-btn1 {
  background-color: rgb(87, 55, 136);
  color: rgb(255, 255, 255);
  width: 250px;
  padding: 20px;
  font-size: 22px;
  margin: 35px;
  border: none;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(68, 42, 77);
}

.s-btn1:hover {
  background-color: rgb(195, 150, 247);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.log {
  background-image: url('https://images.unsplash.com/photo-1562651806-73c8da191923?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80');
  background-repeat: no-repeat;
  height: 700px;
  width: 900px;
  margin: 3rem 0;
  padding: 10px;

}

.input-wrapper {
  display: flex;
  margin-top: 35px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 7rem;
}

.input2 {
  padding: 8px;
  width: 400px;
  font-size: 18px;
  border: 2px solid rgb(68, 42, 77);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 10px 5px 5px rgb(68, 42, 77);
}

.welcome {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  padding: 10px;
  margin: 25px;
  animation: spaceagain 2s 1;
}

@keyframes spaceagain {
  50% {
    letter-spacing: 0.2rem;
  }
}

.goals-container {
  display: flex;
  margin-top: 35px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  
}

.goals {
  font-size: 2rem;
  letter-spacing: 0.2rem;
  color: rgb(255, 255, 255);
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  padding: 25px;
  
}

.goals-form {
  background-image: url('https://images.unsplash.com/photo-1492724724894-7464c27d0ceb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80');
  background-repeat:no-repeat;
  margin: 50px;
  height: 1000px;
  width: 900px;
  box-shadow: 0px 2px 25px 5px rgb(68, 42, 77);
  
}

.goal-item {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  margin: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border: 2px solid rgb(68, 42, 77);
}

.g-btn {
  background-color: rgb(87, 55, 136);
  color: rgb(255, 255, 255);
  width: 250px;
  padding: 10px;
  font-size: 15px;
  margin: 35px;
  border: none;
  border-radius: 15px;
  box-shadow: 10px 5px 5px rgb(68, 42, 77);
}

.input3 {
  padding: 8px;
  margin: 10px;
  width: 400px;
  font-size: 18px;
  border: 2px solid rgb(68, 42, 77);
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(68, 42, 77);
}

.quote {
  padding: 10px;
  width: 400px;
  margin: 15px;
}

.title {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 3rem;
  padding: 10px;
  margin: 25px;
}

.date {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 10px;
  margin: 5px;
  background-color:rgba(87, 55, 136, 0.6);
}

.planner-link {
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 10px;
  margin: 35px;
  background-color:rgb(87, 55, 136);
}

.calendar {
  padding: 10px;
  margin: 25px;
  box-shadow: 10px 5px 5px rgb(68, 42, 77);
  height: 300px;
  width: 500px;
}
.cal-wrapper {
  background-color: rgb(195, 150, 247);
  margin-bottom: 35px;
  padding: 10px;
}

/* Css for the side bar*/
.side-nav {
  font-size: 1.5rem;
  width: 250px;
  height: 100%;
  position: fixed;
  padding-top: 120px;
  left: 0;
  
}

.nav-links {
  list-style: none;
  position: relative;
}
.nav-links li {
  padding: 10px 0;
} 
.nav-links li a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
.butt {
  background-color: rgba(200, 160, 230, 1);
  color: white;
  padding: 10px 30px;
  border-radius: 25px;
  border-color: rgba(200, 160, 230, 1);
}
.butt:hover {
  background: white;
  color: rgba(200, 160, 230, 1);
  border-color: white;
}
/* .nav-links > li:last-of-type {
  padding-top: 550px;
} */
 


.newQ {
  text-align: center;
}